<!DOCTYPE html>
<html>

<head>
    <title>TourGen - About</title>
    
    <% include ./partials/header %>

    <h1 class="display-4">What is TourGen?</h1>
    <br>
    <ul>
        <li><h2>What "TourGen" stands for?</h2>
            <br>
            <p>TourGen is an abbreviation for "Tournament Generator"</p>
        </li>
        <br>
        <li><h2>OK, but what exactly is a Tournament Generator?</h2>
            <br>
        <p>The Tournament Generator is a web application that creates a tournament draw, i.e, it will randomically draw the games of a tournament and print a PDF file for download.</p></li>
    </ul>
    
    <% include ./partials/footer %>