<!DOCTYPE html>
<html>

<head>
    <title>TourGen - Create</title>
    <link rel="stylesheet" href="/css/create.css">
    <% include ./partials/header %>

    <form method="POST">
        <div class="form">
            <h1>Insert informations about the tournament</h1>
            <label>Tournament name:</label>
            <input type="text" name="tournament[title]" placeholder="Name of the tournament" id="name">
            <br>
            <br>
            <label>Dispute Method:</label>
            <select name="tournament[dispute_method]" id="dispute">
                <option value="Knock-out_round_of_16">Knock-out Stage (Round of 16)</option>
                <option value="Knock-out_quarter">Knock-out Stage (Quarter-Finals)</option>
                <option value="Knock-out_semi">Knock-out Stage (Semi-Finals)</option>
            </select>
            <br>
            <br>
            <button type="submit" class="btn btn-info" value="Submit">Next</button>
        </div>
    </form>

    <% include ./partials/footer %>