<!DOCTYPE html>
<html>

<head>
    <title>TourGen - Deletion</title>

    <% include ./partials/header %>

    <p>Your tournament has been successfully deleted</p>
    <a href="/" class="btn btn-info">GO BACK TO HOME PAGE</a>

    <% include ./partials/footer %>