<!DOCTYPE html>
<html>

<head>
    <title>TourGen</title>

    <% include ./partials/header %>

    <div class="mx-auto" style="width: 500px;">
        <h1 class="display-4 text-center">TourGen</h1>
        <p class="lead">Generate your own tournament draws automatically!</p>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
        </div>
        <br>
        <div class="text-center">
            <a class="btn btn-success btn-lg" href="/create" role="button">Create Tournament!</a>
        </div>
    </div>
    <% include ./partials/footer %>